.CatalogPage{
    max-width: 1440px;
    margin-left: auto;
    overflow: hidden;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    margin-bottom: 20px;
    min-height: calc(100vh - 200px);
    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.CatalogHeader{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    &_Link{
        text-decoration: none;
        color: black;
    }
}

.Categories{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    @media (max-width: 600px) {
        gap: 10px;
        margin-top: 15px;
    }
    &_Category{
        transition: 200ms all;
        font-size: 32px;
        padding: 20px;
        border: 1px #999999 solid;
        border-radius: 15px;
        text-decoration: none;
        @media (max-width: 1000px) {
            font-size: 24px;
            padding: 15px;
        }
        @media (max-width: 600px) {
            font-size: 18px;
            padding: 15px;
            border-radius: 10px;
        }
    }
    
    &_Link{
        text-decoration: none;
        color: black;
    }
}

@media (hover:hover) {
    .Categories_Category:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    &_Arrows{
        display: flex;
        justify-content: center;
    }
}

.CardIndoor{
    width: 200px;
    display: flex;
    gap: 15px;
    font-size: 18px;
    align-items: center;
    flex-direction: column;
    border: 1px #999999 solid;
    padding: 20px;
    &_Img{
        @media (max-width: 700px) {
            width: 100px;
            height: 180px;
        }
        
    }
    @media (max-width: 700px) {
        width: 150px;
        padding: 10px;
        font-size: 15px;
    }
}

.OpenImage{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: none;
    &_Img{
        object-fit: cover;
        width: 400px;
        height: 800px;
        @media (max-width: 1200px) {
            width: 300px;
            height: 600px;
        }
        @media (max-width: 600px) {
            width: 200px;
            height: 400px;
        }
    }
    &_Cross{
        width: 50px;
        height: 50px;
        @media (max-width: 1200px) {
            width: 40px;
            height: 40px;
        }
        @media (max-width: 600px) {
            width: 30px;
            height: 30px;
        }
    }
}

.noscroll{
    height: 100vh;
    overflow-y: hidden;
}

.Open{
    display: flex;
}