.footer{
    display: flex;
    background-color: yellow;
    justify-content: center;
    vertical-align: middle;
}

.avito{
    display: flex;
    
    vertical-align: middle;
}

.avito-img{
    width: 15%;
    height: 80%;
    margin-left: 24%;
    margin-top: 2%;
}

.avito-txt{
    text-decoration: none;
    color: black;
    font-family: '20011';
    font-size: 32px;
    align-items: center;
    margin-top: 5.5%;
    margin-left: 2%;
}

.logotype-img{
    width: 20%;
    margin-left:28%;
}

.email{
    display: flex;
}


.email-img{
    width: 13%;
    height: 60%;
    margin-top: 4%;
}

.email-txt{
    text-decoration: none;
    color: black;
    font-family: '20011';
    font-size: 32px;
    margin-top: 6%;
    margin-left: 4%;
}

@media (max-width: 1300px){
    .email-txt{
        font-size: 28px;
    }
}

@media (max-width: 1024px){
    .email-txt{
        font-size: 24px;
    }
    .email{
        margin-left: -50px;
    }
    .avito-txt{
        font-size: 26px;
    }
}

@media (max-width: 768px){
    .email-txt{
        font-size: 18px;
        margin-right: 5%;
    }
    .email-img{
        width: 19%;
    }
    .email{
        margin-right: 2%;
    }
    .avito-txt{
        font-size: 22px;
    }
    .logotype-img{
        margin-left: 25%;
    }
}

@media (max-width: 425px){
    .email-txt{
        font-size: 12px;
    }
    .email-img{
        width: 19%;
        margin-left: -30px;
    }
    .email{
        margin-right: 4%;
        margin-top: 1%;
    }
    .avito-txt{
        font-size: 16px;
        width: 140px;
        margin-top: 3%;

    }
    .avito{
        margin-top: 1%;
        margin-left: -2%;
    }
    .avito-img{
        width: 30px;
        height: 30px;
    }
    .logotype-img{
        margin-left: 19%;
        margin-top: 2%;
    }
}

@media (max-width: 375px){
    .email-txt{
        font-size: 12px;
    }
    .email-img{
        width: 23%;
        margin-left: -35px;
    }
    .email{
        margin-right: 4%;
        margin-top: 1%;
    }
    .avito-txt{
        font-size: 14px;
        width: 140px;
        margin-top: 4%;

    }
    .avito{
        margin-top: 1%;
        margin-left: -7%;
    }
    .avito-img{
        width: 30px;
        height: 30px;
    }
    .logotype-img{
        margin-left: 13%;
        margin-top: 2%;
    }
}

@media (max-width: 375px){
    .email-txt{
        font-size: 10px;
        margin-top: 10px;
    }
    .email-img{
        width: 26%;
        margin-left: -35px;
        margin-top: 5px;
    }
    .email{
        margin-right: 4%;
        margin-top: 1%;
    }
    .avito-txt{
        font-size: 14px;
        width: 140px;
        margin-top: 4%;

    }
    .avito{
        margin-top: 1%;
        margin-left: -10%;
    }
    .avito-img{
        width: 30px;
        height: 30px;
    }
    .logotype-img{
        margin-left: 1%;
        margin-top: 2%;
        width: 30%;
    }
}