.ProductPage{
    max-width: 1440px;
    margin-left: auto;
    overflow: hidden;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    margin-bottom: 20px;
    min-height: calc(100vh - 200px);
    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.ProductHeader{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    
    &_Link{
        text-decoration: none;
        color: black;
        font-size: 16px;
        @media (max-width:500px) {
            font-size: 14px;
        }
    }
}

.Product{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 15px;
    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
    &_Image{
        width: 300px;
        height: auto;
        max-height: 600px;
        object-fit: contain;
        @media (max-width: 800px) {
            max-height  : 70vh;
        }
    }
    &_Info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
        @media (max-width: 800px) {
            font-size: 18px;
        }
        @media (max-width: 450px) {
            font-size: 16px;
        }
        &_Props{
            margin-bottom: 20px;
            @media (max-width: 800px) {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        }
        &_Base{
            color: #999999;

        }
        &_Custom{
            color: black;
            word-wrap: break-word;
        }
    }
}